* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: none;
    padding: 0;
    background-color: #2a2a2e;
    color: #ffffff;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: .5em 0;
}

nav a {
    color: #fbdd11;
    padding: .25rem;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
    background-color: #21212a;
    border-radius: 50%;
}

main {
    background-color: #21212a;
    padding: 0;
    border-left: 1px solid #fbdd11;
    border-right: 1px solid #fbdd11;
    display: flex;
    flex-direction: column;
}

.title {
    height: 2.5em;
    padding: 0 .25em;
    border-bottom: 1px solid #2a2a2e;
    display: flex;
    align-items: center;
}

.title h1 {
    font-size: 1em;
    font-weight: 800;
    margin: 0;
    flex: 1;
}

/* WRITE POST */

.postFormWrap {
    display: flex;
    padding: .5em;
    border-bottom: 4px solid #2a2a2e;
}

.userImageWrap {
    width: 3rem;
    height: 3rem;
}

.userImageWrap img {
    width: 100%;
    height: 100%;
    border: 2px solid #2a2a2e;
    border-radius: 50%;
    background-color: #ffffff;
}

.textContainer {
    flex: 1;
    padding-left: .5rem;
}

.textContainer textarea {
    width: 100%;
    border: none;
    resize: none;
}

#postSubmit, #submitReplyBtn, #deletePostBtn {
    background-color: #4cbf4b;
    border: none;
}

#postSubmit:hover, #submitReplyBtn:hover, #deletePostBtn:hover {
    background-color: #44ac44;
}

/* POST REPLY */

.modal-content {
    background-color: #2a2a2e;
}

.modal .postFormWrap {
    border: none;
    padding: 0;
    padding-top: 1em;
}

.modal-header {
    border-bottom: 1px solid #21212a;
}

.modal-footer {
    border-top: 1px solid #21212a;
}

.modal .post {
    padding: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #21212a;
}

/* POST */

.post {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    cursor: pointer;
    border-bottom: 1px solid #2a2a2e;
}

.postMainContainer {
    flex: 1;
    display: flex;
}

.postContent {
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 1.25em;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    padding-right: .5rem;
    padding-bottom: .2rem;
}

.postHeader a {
    text-decoration: none;
    font-weight: 600;
    color: #fbdd11;
}

.postHeader a:hover {
    text-decoration: underline;
}

.postDate {
    flex: 1;
    color: #aaaaaa;
    font-size: .85em;
    padding-left: .5em;
}

.postFooter {
    padding-top: .5rem;
    display: flex;
    align-items: center;
}

.postButtonWrap {
    flex: 1;
    display: flex;
}

.postButtonWrap button, .userButtons {
    background-color: transparent;
    padding: 0 .25rem;
    color: #aaaaaa;
    border: none;
}

.postButtonWrap button:hover, .userButtons:hover {
    color: #fbdd11;
}

.postButtonWrap button i, .postButtonWrap button span, .userButtons i {
    pointer-events: none;
}

.postButtonWrap button.activeLike {
    color: #b30000;
}

.postButtonWrap button.activeRepost {
    color: #44ac44;
}

.postButtonWrap button span {
    color: #aaaaaa;
}

.userButtons {
    font-size: .85em;
}

.repostedBy {
    padding-left: 2.5em;
    margin-bottom: .5em;
    font-size: .8em;
    color: #aaaaaa;
}

.repostedBy a, .replyFlag a {
    text-decoration: none;
    color: #aaaaaa;
}

.repostedBy a:hover, .replyFlag a:hover {
    color: #ffffff;
}

.replyFlag {
    font-size: .8em;
    color: #aaaaaa;
}

.post.largeFont .postBody,
.post.largeFont .postFooter {
    font-size: 1.25em;
}

/* PROFILE PAGE */

.coverPhotoWrap {
    height: 160px;
    background-color: #fbdd11;
    position: relative;
}

.profileHeaderWrap .userImageWrap {
    height: 8rem;
    width: 8rem;
    margin-left: 1rem;
    position: absolute;
    bottom: -4rem;
}

.profileHeaderWrap .userImageWrap img {
    border: 4px solid #4cbf4b;
}

.profileButtonsWrap {
    font-size: 1.25em;
    text-align: right;
    padding: .25em;
}

.profileButton {
    background: transparent;
    color: #fbdd11;
    font-weight: bold;
    padding: .1em .75em;
    border: 1px solid #fbdd11;
    border-radius: 3em;
    display: inline-block;
    margin-left: .5em;
}

.profileButton:hover {
    background-color: #fbdd11;
    color: #21212a;
}